{% extends 'navbar.html' %}
{% block title %} {{ user.user_profile.full_name }}  (@{{user.username}}) {% endblock title %} 

{% block css_block %}  <!-- Css code -->
    <style>
        .crop{
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
        .crop img{
            width: 300px;
            height: 400px;
            margin: -75px 0 0 -100px;
        }
    </style>
{% endblock css_block %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                    {% if user.user_profile.profile_pic %}
                    <img src="/media/{{ user.user_profile.profile_pic }}" width="250px" height="250px" class="rounded-circle">
                    {% else %}
                    <img src="/media/default.png" width="250px" height="250px" class="rounded-circle"> 
                    {% endif %}
            </div>
            <div class="col-sm-8">
                <h3> {{ user.username }} &nbsp; <a href="{% url 'App_login:edit' %}" class="btn btn-light"> Edit Profile </a> </h3> <br>
                <h4> {{ user.post.count }} Posts &nbsp; &nbsp; {{ user.following.count }} Followers &nbsp; &nbsp; {{ user.follower.count }} Following &nbsp; &nbsp; </h4> <br>
                <h6> Name:  <small>{{ user.user_profile.full_name }} </small> </h6>
                <h6> Descriptions: <small>{{ user.user_profile.describtion | linebreaks }}  </small> </h6>
                <h6> Date Of Birth: <small>{{ user.user_profile.dob }}  </small> </h6>
                <h6> Website: <small>{{ user.user_profile.website }}  </small> </h6>
                <h6> Facebook: <small>{{ user.user_profile.facebook }}  </small> </h6>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        New Post
    </button>
    <!-- The Modal  jeta post korar jonno pop up hesebe ei section ta kaj korber -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title"> Post a photo </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %} 
                <button type="submit"> Post </button> 
            </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
    </div>
    </div>
</div>
<br>
<br>
<!-- post korar por profile er niche show koranor part -->
<div class="row">
    {% for post in user.post.all  %}
    <div class="crop">
        <img src="/media/{{ post.image}}" title={{ post.caption }}/>
    </div>
    {% endfor %}
</div>
{% endblock body %}