{% extends 'navbar.html' %}
{% block title %} {{ user_other.user_profile.full_name }}  (@{{user_other.username}}) {% endblock title %}

{% block css_block %}  <!-- Css code -->
    <style>
        .crop{
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
        .crop img{
            width: 300px;
            height: 400px;
            margin: -75px 0 0 -100px;
        }
    </style>
{% endblock css_block %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                    {% if user_other.user_profile.profile_pic %}
                    <img src="/media/{{ user_other.user_profile.profile_pic }}" width="250px" height="250px" class="rounded-circle">
                    {% else %}
                    <img src="/media/default.png" width="250px" height="250px" class="rounded-circle"> 
                    {% endif %}
            </div>
            <div class="col-sm-8">
                <h3> {{ user_other.username }} &nbsp;
                    {% if not already_followed %}
                    <a href="{% url 'App_login:follow' username=user_other.username %}" class="btn btn-primary" > Follow </a>
                    {% else %}
                    <a href="{% url 'App_login:unfollow' username=user_other.username %}" class="btn btn-primary" > UnFollow </a> 
                    {% endif %} </h3>
                    <br>
                    <h4>{{user_other.post.count}} Posts &nbsp; &nbsp; {{user_other.following.count}} Followers &nbsp; &nbsp; {{user_other.follower.count}} Following</h4>
                    <br>                
                <h6> Name:  <small>{{ user_other.user_profile.full_name }} </small> </h6>
                <h6> Descriptions: <small>{{ user_other.user_profile.describtion | linebreaks }}  </small> </h6>
                <h6> Date Of Birth: <small>{{ user_other.user_profile.dob }}  </small> </h6>
                <h6> Website: <small>{{ user_other.user_profile.website }}  </small> </h6>
                <h6> Facebook: <small>{{ user_other.user_profile.facebook }}  </small> </h6>
            </div>
        </div>
    </div>
<hr>
<br>
<br>
<!-- post korar por profile er niche show koranor part -->
<div class="row">
    {% for post in user_other.post.all  %}
    <div class="crop">
        <img src="/media/{{ post.image}}" title={{ post.caption }}/>
    </div>
    {% endfor %}
</div>
{% endblock body %}