<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- E Commerce theke copy -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/all.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}" />

    <!-- latest compailed minified css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Proper js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proper.js/1.16.0/umd/proper.min.js"></script>
    <!-- Latest compailed java script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title> Social Media | {% block title %} {% endblock title %} </title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'App_post:home' %}" > Home </a>
            </li>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <li class="nav-item ">
                {% if user.user_profile.profile_pic %}
                <a class="nav-link" href="{% url 'App_login:profile' %}" > <img src="/media/{{ user.user_profile.profile_pic }}" width="40px" height="40px" class="rounded-circle"> </a>
                {% else %}
                <a class="nav-link" href="{% url 'App_login:profile' %}" > <img src="/media/default.png" width="40px" height="40px" class="rounded-circle"> </a>
                {% endif %}
            </li> 
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle text-white" href="#" id = "profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> User Info </a>
                <ul class="dropdown-menu" arial-labelledby = "profileDropdown">
                    <li class="nav-item ">
                        <li><a class="dropdown-item" href="{% url 'App_login:passwordchange' %}"> Change Password </a></li>
                        <li><a class="dropdown-item" href="{% url 'App_login:logout' %}"> Logout </a></li>
                    </li>
                </ul>
            </li>           
        </ul>
    </nav>
    <div class="container" style="padding-top:30px">

{% block body %} {% endblock body %}
{% block css_block %} {% endblock css_block %}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"> </script>
    <script src="{% static 'app/js/all.min.js' %}"> </script>
    <script src="{% static 'app/js/myscript.js' %}"> </script>
    <script src="{% static 'app/js/owl.carousel.min.js' %}"> </script>
</body>
</html>