{% extends 'navbar.html' %}
{% block title %} Home {% endblock title %} 
{% block body %}
<div class="container">
    {% if search %}
        {% for user in result %}
        <div class="row"> 
            <div class="col-sm-2">
                {% if user.user_profile.profile_pic %}
                <img src="/media/{{ user.user_profile.profile_pic }}" width="100px" height="100px" class="rounded-circle"> </a>
                {% else %}
                <img src="/media/default.png" width="100px" height="100px" class="rounded-circle"> 
                {% endif %}
            </div>
            <div class="col-sm-10">
            <a href="{% url 'App_login:user_info' username=user.username %}"> {{ user.username }} </a>
            <br> <br>
            {{ user.user_profile.full_name}}
            </div>
        </div> <br>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-sm-8">
            {% for post in posts %}
            <div style="border: 1px solid #888888;">
                <div style="padding:10px">
                    {% if post.author.user_profile.profile_pic %}
                        <img src="/media/{{user.user_profile.profile_pic}}" width="40px" height="40px" class="rounded-circle">
                    {% else %}
                        <img src="/media/default.png" width="40px" height="40px" class="rounded-circle">
                    {% endif %}
                    <a href="{% url 'App_login:user_info' username=post.author %}">{{post.author}}</a>
                    <br><br>
                    {{ post.caption }}
                </div>
                <img src= "/media/{{post.image}}" width="100%"/>
                <div style="padding-20px:">
                    {% if post.pk in liked_post_list %} 
                    <a href="{% url 'App_post:unlike' pk=post.pk %}"> <i class="fa fa-heart" style="font-size:36px"></i> </a>
                    {% else %}
                    <a href="{% url 'App_post:like' pk=post.pk %}"><i class="fa fa-heart-o" style="font-size:36px"></i> </a>
                    {% endif %}
                    <strong class="text-success " >Likes  {{ post.liked_post.count }} </strong>
                </div>
            </div>  <br>  
            {% endfor %}
        
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                    {% if user.user_profile.profile_pic %}
                    <img src="/media/{{ user.user_profile.profile_pic }}" width="100px" height="100px" class="rounded-circle"> </a>
                    {% else %}
                    <img src="/media/default.png" width="100px" height="100px" class="rounded-circle"> 
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    {{ user.username}}
                    <br>
                    {{ user.user_profile.full_name }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}